<h1>The contact info for Scooterliciousness</h1>
<div class="four columns">
	<h2>FakeEmailAddress@gmail.com</h2>
	<h2>@nonexistentTwitterHandle</h2>
	<img src="ScooterFace.jpg" alt="Peaceful like Buddha">
</div>
