<h1>The face of utter Scooterliciousness</h1>
<div class="eight columns offset-by-five">
	<h3>The face of the Scoot</h3>
	<a href="/contact">
		<img src="ScooterOnACamel.jpg" alt="Contact ScooterFace" class="scale-with-grid">
	</a>
	<ul>
		<li>Play Piano</li>
		<li>Backpack Internationally</li>
		<li>Eat Constantly</li>
		<li>Never Sleep(well)</li>
		<li>Like kitty-cats</li>
	</ul>

</div>